HOST=0.0.0.0
PORT=8000
DATABASE_URL=database://user:password@localhost:port/db-name # replace with your credentials
SECRET_KEY=xEwVPUkJpreCwXiwXeJwbNJp7NBhTPFgOX7J3mcRM2c= # run openssl rand -base64 32 to generate secret key
ALGORITHM=JWT cypher algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
